<header class="bg-blueCoovitel w-full h-[120px] flex items-center justify-between px-6">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <a href="{% url 'close' %}" class="h-full w-[400px]">
        <img src="http://eventos.coovitel.coop/img/logomain.png" class="h-full p-4" alt="Logo Coovitel">
    </a>

    <div class="flex items-center space-x-4">
   
        <a href="https://www.facebook.com/coovitelcol" target="_blank" class="text-white text-2xl hover:text-blue-600">
            <i class="fab fa-facebook"></i> 
        </a>
        <a href="https://www.instagram.com/coovitel_oficial/?hl=es-lam" target="_blank" class="text-white text-2xl hover:text-pink-600">
            <i class="fab fa-instagram"></i> 
        </a>
        <a href="https://twitter.com/cooviteloficial?lang=es" target="_blank" class="text-white text-2xl hover:text-blue-400">
            <i class="fab fa-twitter"></i> 
        </a>
        <a href="https://www.youtube.com/channel/UC7qMz7_Z-BrR8QzzUveCTiA" target="_blank" class="text-white text-2xl hover:text-red-600">
            <i class="fab fa-youtube"></i> 
        </a>
    </div>
</header>